<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="badEcho" type="BadEcho.Odin.XmlConfiguration.BadEchoSectionGroup, BadEcho.Odin.XmlConfiguration">
      <section name="extensibility" type="BadEcho.Odin.XmlConfiguration.Extensibility.ExtensibilitySection, BadEcho.Odin.XmlConfiguration"/>
    </sectionGroup>
  </configSections>
  <badEcho xmlns="http://schemas.badecho.com/configuration/">
    <extensibility>
      <host pluginDirectory="plugins"/>
      <segmentedContracts>
        <add name="ISegmentedContract">
          <routablePlugins>
            <add id="BE157C54-2BC0-48B8-9E39-0AE53D8A4E61" primary="true"/>
            <add id="F544EC74-919E-4167-A421-FA74223F49C5">
              <methodClaims>
                <add name="SomeOtherMethod"/>
              </methodClaims>
            </add>
          </routablePlugins>
        </add>
      </segmentedContracts>
    </extensibility>
  </badEcho>
</configuration>